* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* header is started */

header {
    width: 100%;
    height: 8vh;
    background-color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.navbar {

    display: flex;
}

.navbar,
li a {
    font-size: large;
    padding: 1rem 1.5rem;
    color: black;
    text-decoration: none;
    list-style: none;
}

.navbar li a:hover {
    border-radius: 0.7rem;
    background-color: rgb(183, 183, 196);
}

/* Home page */

.home_image {
    background: linear-gradient(#0000004f, #0000004f), url(images/schoolkids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 98.9vw;
    height: 92vh;
}

.headings {
    font-size: x-large;
    margin-top: 18rem;
    margin-right: 8rem;
    float: right;
    /* position: relative; */
}

.headings h1,
p,
button {
    margin: 32px 0;
    color: #ffffff;
}

.headings button {
    background: linear-gradient(#748fc7, #152137);
    padding: 1rem 2rem;
    border-radius: 25px;
    border: 1px solid #000000;
}

.headings button:hover {
    color: rgb(0, 0, 0);
    background: #798597;
}

.facility {
    display: grid;
    font-size: xx-large;
    justify-content: center;
    margin: 32px 0px;

}


.facilities {
    width: 70vw;
    position: relative;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;

}

@media only screen and (max-width:600px) {
    .facilities {
        grid-template-columns: repeat(1, 1fr);
    }

}

.facilities .box {
    /* box-shadow:5px 5px; */
    height: 500px;
    padding: 10px;
    /* border: 1px solid gray; */
    display: grid;
    justify-content: center;
    margin: 20px 0;
}

.facilities .box img {
    width: 90%;
    height: 16vw;
}

.facilities .box .text {
    width: 80%;
    margin: 20px auto;
}

/* form style */
.contect_us {
    width: 70vw;
    margin: 62px auto;
    display: grid;
    justify-content: center;
    /* background-color: #3b94c0; */
    display: flex;
}

.information {
    /* width: 50%; */
    display: flex;
    background-color: blue;
    color: #ffffff;
    justify-content: space-around;
}

.first_colon {

    margin: 32px 64px;
}

.line a {
    color: red;
    font-size: xx-large;
    padding: 12px;
    margin-left: 22px;
}

.form_action {
    background-color: #cec3c3;
    color: blue;

}


.first_colon p,
h3 {
    margin: 42px;
}

.second_colon {
    margin: 64px 64px;
}

.form_action {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 100%;
    height: 200px;
    display: grid;
    justify-content: center;
}


.form_action input {
    border: none;
    border-bottom: 1px solid #808080;
    width: 290px;
    outline: none;
    background-color: #cec3c3;

}

.form_action label {
    text-transform: uppercase;
}

.font {
    margin-left: 24px;
}

.font a {
    padding: 0px 16px;
    font-size: x-large;
}

/* #instagram {
    color: red;
}

#facebook {
    color: rgb(226, 226, 240);
}

#telegram {
    color: #3b94c0;
} */

footer {
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 8vw;
    margin-top: 4%;
    background-color: #6f6d6d;
}

footer .links {
    width: 200px;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    margin: 0 auto;
    margin-top: 22px;
}

footer .links a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #000000;
    /* text-align: center; */
    /* padding: 12px; */
    text-decoration: none;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
}

footer .menu{
    display: flex;
}
footer .menu li{
    list-style: none;
}
/* 
footer a i {
    margin-top: 52px;
} */

#powered a {
    font-size: medium;
    /* color: #ffffff; */
    text-decoration: none;
    color: #000000;
}




/* login page style */

#login_page {
    width: 75%;
    background-color: #b7bcbe;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#login_img img {
    height: 22rem;

}

#login {
    text-align: center;
    padding: 10px;
}

#login button p {
    color: #000000;

}

/* #sign_in a{
    text-decoration: none;
    color: rgb(0, 0, 0);
} */
#sign_in {
    text-align: right;
}

#login p {
    font-size: x-large;
    color: #000000;
}

#login input {
    border-radius: 10px;
    width: 100%;
    padding: 12px;
    margin: 8px 0px;

}

#login button {
    color: #ffffff;
    background: linear-gradient(#748fc7, #152137);
    padding: .5rem 1rem;
    border-radius: 25px;
    border: 1px solid #000000;
}

#login button:hover {
    color: rgb(0, 0, 0);
    background: #798597;
}